body{
    margin:0px 0px 10px 0px;
    background:#ffffff;
    color:#000
    }
    
#banner{
    color:#006699;
}

#content{
    font-family:'trebuchet ms', arial, sans-serif;
    color:#000;
    background:#ffffff;
}